@page
@model SistemaPosts.Pages.NuevoModel
@{

	<h2>Nuevo post</h2>

	<form action="" method="post">
		
		<p>Titulo:</p>
		<input type="text" required name="titulo">
		<p>Contenido:</p>
		<input type="text" required name="contenido">
		<p>Usuario:</p>
		<input type="text" required name="usuario">
		<br>
		<br>
		<button class="btn btn-success">Confirmar</button>
		<br>
		<br>
		
	</form>
	<a href="Index"><button class="btn btn-secondary">Regresar</button></a>
}
